.DS_Store
.env.local
.env.*.local
.env.development
.env.production
node_modules/
dist/
dist-ssr/
coverage/
*.log
*.tsbuildinfo
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.turbo/
.husky/
!
.env.development
.env.production
package-lock.json
yarn.lock

